.filtersContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    justify-content: center;

    align-items: flex-end;
}

.filterGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 150px;
}

.label {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    text-align: left;
}

.input {
    padding: 1px 2px;
    border: 2px solid teal;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    outline: none;
    width: 320px;
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

.select {
    padding: 1px 2px;
    border: 2px solid teal;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    color: #000;
}

.select:focus,
.input:focus {
    border: 2px solid #000;
}

.clearButton {
    padding: 8px 15px;
    border: 2px solid #dc3545;
    border-radius: 4px;
    background-color: #dc3545;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    align-self: flex-end;
}

.clearButton:hover {
    background-color: #c82333;
    border-color: #bd2130;
}